<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.tgi.libraryloginwithamazon">

<application>
    <activity android:name=".activity.WebViewActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleTop">
    </activity>
</application>

</manifest>
